/* EXTERNAL CSS FILE */

h2 {
    background-color: #e6e6e6;
    padding: 10px;
    border-left: 5px solid darkblue;
}

p {
    color: #333;
}

footer {
    text-align: center;
    font-style: italic;
}
